<div>
    {{#each products}}
        <div class= "products">
          <p>Name:{{name}}<br>Inventory: {{inventory}} <br> Id: {{id}} </p>
        </div>
    {{/each}}
</div>

<div>
    {{#each articles}}
        <div class= "articles">
          <strong>Title:{{title}} <br> author:{{author}}</strong>
          <p>{{body}}</p>
        </div>
    {{/each}}
</div>